<% if user_signed_in? %>
  <% if current_user.simplefin_connection.present? %>
    <p><%= link_to "Manage Simplefin Connection", simplefin_connection_path %></p>
  <% else %>
    <p><%= link_to "Connect to Simplefin", new_simplefin_connection_path %></p>
  <% end %>
<% end %>
